## TAsk1
## SIRSS2272
## Nishant Kumar

### 1.
        5 5 5 5 5
        5 5 5 5
        5 5 5
        5 5
        5

In [1]:
for x in range(0,5):
    for y in range((5-x)):
        print(5,end=' ')
    print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

## 2.  
        0 1 2 3 4 5
        0 1 2 3 4
        0 1 2 3
        0 1 2
        0 1

In [2]:
for x in range(0,6):
    for y in range((6-x)):
        print(y,end=' ')
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

### 3.
        1
        3 3
        5 5 5
        7 7 7 7
        9 9 9 9 9

In [3]:
for i in range(1,6):
    for j in range(1,i+1):
        print((2*i-1),end=" ")
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

### 4.
     1
     2 1
     3 2 1
     4 3 2 1
     5 4 3 2 1

In [4]:
for i in range(0,5):
    for j in range(i+1,0,-1):
        print(j, end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

### 5.
     1
     3 2
     6 5 4
    10 9 8 7

In [5]:
st = 1
sp = 2
cn = sp
for i in range(2, 6):
    for j in range(st, sp):
        cn -= 1
        print(cn, end=' ')
    print('')
    st = sp
    sp += i
    cn = sp

1
3 2
6 5 4
10 9 8 7

### 6
      1
      1 1
      1 2 1
      1 3 3 1
      1 4 6 4 1
      1 5 10 10 5 1
      1 6 15 20 15 6 1

In [6]:
n=8
for i in range(1,n):
    C = 1
    for j in range(1, i+1):
        print('',C,'', end='')
        C = C * (i - j) // j
    print()

 1
 1  1
 1  2  1
 1  3  3  1
 1  4  6  4  1
 1  5  10  10  5  1
 1  6  15  20  15  6  1

### 7
    1 2 3 4 5
    2 2 3 4 5
    3 3 3 4 5
    4 4 4 4 5
    5 5 5 5 5

In [7]:
for i in range(1,6):
    for j in range(1,6):
        if j<=i:
            print(i, end=" ")
        else:     
            print(j, end=" ")
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

### 8
     1 
     2 4 
     3 6 9 
     4 8 12 16 
     5 10 15 20 25 
     6 12 18 24 30 36 
     7 14 21 28 35 42 49 
     8 16 24 32 40 48 56 64

In [8]:
for i in range(1,9):
    for j in range(1,i+1):
        print(i*j, end=" ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

### 9
    * * * * * * 
     * * * * * 
      * * * * 
       * * * 
        * * 
         *

In [9]:
for i in range(6,0,-1):
    for k in range(1,7-i):
        print('', end=' ')
    for j in range(1,i+1):
        print('*',end= ' ')
    print()

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

### 10
          * 
         * * 
        * * * 
       * * * * 
      * * * * * 
     * * * * * * 
    * * * * * * *

In [10]:
for i in range(1,8):
    for k in range(1,8-i):
        print('', end=' ')
    for j in range(1,i+1):
        print('*',end= ' ')
    print()

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

### 11
       * 
       * * 
       * * * 
       * * * * 
       * * * * * 

       * * * * * 
       * * * * 
       * * * 
       * * 
       *

In [11]:
for i in range(1,6):
    for j in range(1,i+1):
        print('*',end= ' ')
    print()
print()

for i in range(5,0,-1):
    for j in range(1,i+1):
        print('*', end= " ")
    print()

*
* *
* * *
* * * *
* * * * *

* * * * *
* * * *
* * *
* *
*

### 12
    * 
    * * 
    * * * 
    * * * * 
    * * * * * 
    * * * * 
    * * * 
    * * 
    *

In [12]:
for i in range(1,6):
    for j in range(1,i+1):
        print('*',end= ' ')
    print()
for i in range(4,0,-1):
    for j in range(1,i+1):
        print('*', end= " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### 13
            * 
          * * 
        * * * 
      * * * * 
    * * * * * 
      * * * * 
        * * * 
          * * 
            *

In [13]:
for i in range(1,6):
    for k in range(1,6-i):
        print(" ", end=" ")
    for j in range(1,i+1):
        print('*', end=" ")
    print()
for i in range(4,0,-1):
    for k in range(1,6-i):
        print(" ", end=" ")
    for j in range(1,i+1):
        print('*',end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

### 14
     * * * * *
      * * * *
       * * *
        * *
         *
         *
        * *
       * * *
      * * * *
     * * * * *

In [14]:
row = 5
# Upper-half
for i in range(row, 0, -1):
    for j in range(row-i):
        print(" ", end="")
    for j in range(1, 2*i):
        print("*", end="")
    print()

# Lower-half
for i in range(2, row+1):
    for j in range(row-i):
        print(" ", end="")
    for j in range(1, 2*i):
        print("*", end="")
    print()

*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

### 15
      ****************
      *******__*******
      ******____******
      *****______*****
      ****________****
      ***__________***
      **____________**
      *______________*

In [15]:
n=8
print("*" * n*2)
for i in range(0,n-1):
    print("*" * (n-1-i),end='')
    print("__" * (i+1),end='')
    print("*" * (n-1-i))

****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*